%h2.mb-3
  =@question.quiz.title
%h3.my-2
  ="第#{@question.order}問"
.question.border.shadow.p-2
  =simple_format(@question.sentence)

%h3.my-2
  ="答えは？"
= form_with scope: :post, url: answer_quiz_question_path, local: true do |f|
  .form-group.row
    .col-lg-3.col-md-4.col-sm-6.col-12
      = f.radio_button :answer, true, checked: true
      = f.label(:answer, "○", value: true, id: "answerbox--yes")
    .col-lg-3.col-md-4.col-sm-6.col-12
      = f.radio_button :answer, false
      = f.label(:answer, "×", value: false, id:"answerbox--no")
  = f.submit "解答する", class: "btn btn-primary"