- if quiz.errors.present?
  .alert.alert-warning
    入力内容に抜け・謝りがあります！
= form_with model: quiz, local: true do |f|
  .p-2
    .form-group
      = f.label :title
      = render partial: "form_error_messages", locals: { model: @quiz, symbol: :title }
      = f.text_field :title, class: "form-control", id: "title", placeholder: "クイズ名を入力してください(例:○○クイズ)"
    .form-group
      = f.label :description
      = render partial: "form_error_messages", locals: { model: @quiz, symbol: :description }
      = f.text_area :description, rows: 3, class: "form-control", id: "description", placeholder: "説明欄に表示される内容を入力してください(例:○○に関するクイズです)"
  = f.fields_for :questions do |question|
    .p-2
      %h2.my-2
        ="第#{question.object.order}問"
      = question.hidden_field :order
      .form-group
        = question.label :sentence
        = render partial: "form_error_messages", locals: { model: question.object, symbol: :sentence }
        = question.text_area :sentence, rows: 3, class: "form-control", placeholder: "問題文を入力してください(例:パンダのしっぽは黒い？)"
      .form-group
        %label 正解
        = question.radio_button :is_yes, "true", class:"ml-2"
        = question.label(:is_yes, "○", value: "true")
        = question.radio_button :is_yes, "false", class:"ml-2"
        = question.label(:is_yes, "×", value: "false")
      .form-group
        = question.label :explanation
        = question.text_area :explanation, rows: 3, class: "form-control", placeholder: "正しい答えの解説を書いてください"
  = f.submit nil, class: "btn btn-primary"