- binding.pry
= form_with model: quiz_section, local: true do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control", id: "title"
  .form-group
    = f.label :description
    = f.text_area :description, rows: 3, class: "form-control", id: "description"
  = f.fields_for :quizzes do |quiz|
    %h3
      ="第#{quiz.object.order}問"
      = quiz.hidden_field :order
    .form-group
      = quiz.label :sentence
      = quiz.text_field :sentence, class: "form-control"
    .form-group
      %label Answer
      = quiz.radio_button :is_yes, "true"
      = quiz.label(:is_yes, "○", value: "true")
      = quiz.radio_button :is_yes, "false"
      = quiz.label(:is_yes, "×", value: "false")
    .form-group
      = quiz.label :explanation
      = quiz.text_field :explanation, class: "form-control"
  = f.submit nil, class: "btn btn-primary"