!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GeniusQuiz
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-sm.navbar-dark.bg-app-primary.fixed-top
      =link_to "GeniusQuiz", root_path, class:"navbar-brand"
      %button.navbar-toggler{type: "button",
      data:{toggle:"collapse", target:"#navmenu"},
      aria:{controls:"navmenu", expanded:"false", label:"Toggle navigation"}}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navmenu
        %ul.navbar-nav.ml-auto
          %li.nav-item
            - if user_signed_in?
              =link_to new_quiz_path, class: "nav-link" do
                =icon('fas', 'marker')
                クイズを作る
          %li.nav-item
            =link_to "#", class: "nav-link" do
              =icon('fas', 'search')
              クイズを探す
          %li.nav-item
            - unless user_signed_in?
              =link_to new_user_session_path, class: "nav-link" do
                =icon('fas', 'sign-in-alt')
                ログイン
            - else
              =link_to destroy_user_session_path, method: :delete, class: "nav-link" do
                =icon('fas', 'sign-out-alt')
                ログアウト
    .container.mb-3
      = yield
