!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GeniusQuiz
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-sm.navbar-dark.bg-app-primary.fixed-top
      .navbar-brand GeniusQuiz
      %button.navbar-toggler{type: "button",
      data:{toggle:"collapse", target:"#navmenu"},
      aria:{controls:"navmenu", expanded:"false", label:"Toggle navigation"}}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navmenu
        %ul.navbar-nav.ml-auto
          %li.nav-item
            =link_to "問題を作る", "#", class: "nav-link"
          %li.nav-item
            =link_to "問題を探す", "#", class: "nav-link"
          %li.nav-item
            =link_to "ログイン", "#", class: "nav-link"
    .container
      = yield
